{% extends 'base.html' %} {% block content %}
<form method="post" enctype=multipart/form-data>
  <div class="form-group">
    <div class="row">
      <div class="col d-flex justify-content-end">
        <label for="uploadImg">Upload KTP</label>
      </div>
      <div class="col">
        <input type="file" class="form-control-file" id="uploadImg" name="uploadImg" multiple required/>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
